#box-1 {
  height: 100vh;
  width: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT9rsw7USX7CRVw8X7XlJ2ay7PUFBJ5JXs3ZA&usqp=CAU);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-2 {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.wallpaperscraft.com/image/deer_art_vector_134088_1680x1050.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box-3 {
  height: 100vh;
  width: 100%;
  background-image: url(https://images.wallpaperscraft.com/image/flowers_patterns_doodles_123825_1280x720.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

h1 {
  font-family: arial black;
  font-size: 50px;
  color: white;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

